.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #800080;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Para asegurarse de que esté encima de otros elementos */
  }
  
  .navbar-links a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  
  /* Responsivo: Estilo para pantallas pequeñas */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-links {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  
    .navbar-links a {
      margin: 0.5rem 0;
    }
  }
  
  /* Añadir margen al contenido principal para que no quede debajo del navbar */
  .main-content {
    margin-top: 80px; /* Ajusta este valor según el tamaño del navbar */
  }
  